.calc__clear, .calc__decimal, .calc__division, .calc__digit, .calc__multiply, .calc__minus, .calc__addition, .calc__equal {
    padding: 1.3rem;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 10rem;
    background-color: #EAFAEA;
    color: #000;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.calc__clear:hover, .calc__decimal:hover, .calc__division:hover, .calc__digit:hover, 
.calc__multiply:hover, .calc__minus:hover, .calc__addition:hover, .calc__equal:hover {
    cursor: pointer;
}

.calc__clear {
    background-color: #C42D2D;
    padding: 0 5.6rem;
}

.calc__division, .calc__multiply, .calc__minus, .calc__decimal, .calc__addition {
    background-color: #9FE99F;
}

.calc__equal {
    background-color: #2DC42E;
    padding: 0 5.6rem;
}
