@import url('buttons.css');
@import url('rows.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #DBDBDB;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background-color: #575757;
    padding: 3rem;
}

.calc__output {
    padding: 3.5rem;
    border: none;
    border-radius: 1rem;
    width: 75vw;
    background-color: #fff;
}

