@import url('buttons.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #000;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
}

.calc__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background-color: #575757;
    padding: 2rem;
}

.calc__input {
    padding: 2rem;
    border: none;
    border-radius: 1rem;
}

.calc__rows {
    padding-top: 1rem;
}

